<aside>

  <div class="sidebar-brand">
    <img
      src="assets/cvspider-logo.png"
      alt="Logo CVSpider"
      class="brand-logo"
    >

    <div class="brand-text">
      <h2 class="brand-name">
        <span class="brand-cv">CV</span><span class="brand-spider">SPIDER</span>
      </h2>

      <span class="brand-subtitle">BY MYB</span>
    </div>
  </div>

    <nav>
    <div class="nav-group">

        @for (item of navItems; track item.route) {
        <a
            [routerLink]="item.route"
            routerLinkActive="active"
        >
            <lucide-icon [img]="item.icon" size="20"></lucide-icon>
            {{ item.label }}
        </a>
        }
    </div>
    </nav>

  <div class="sidebar-footer">
    <a
    routerLink="/settings"
    routerLinkActive="active"
    >
    <lucide-icon [img]="Settings" size="20"></lucide-icon>

    <span>Paramètres</span>
    </a>
  </div>
</aside>